.car-container {
    display: flex;
    justify-content: center;
    background-color: #36454F;
    flex-flow: row wrap;
    overflow-x: hidden;

    @media only screen and (max-width: 1024px) {
        width: 100%;
        background-color: #36454F;
        overflow-x: hidden;
    }
}

.car-cards {
    overflow-x: hidden;
    width: 20%;
    height: 20%;
    margin: 20px auto;
    color: white;
    background-color: transparent;
    border-radius: 30px;
    border-style: solid;
    border-color: #359EB4;
    justify-content: center;
    overflow-x: hidden;
}

.car-cardss {
    overflow-x: hidden;
    width: 100%;
    margin: 20px auto;
    color: white;
    text-align: center;
    background-color: transparent;
    border-radius: 30px;
    border-style: solid;
    border-color: #359EB4;
    justify-content: center;
    overflow-x: hidden;
}

.car-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
