#profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #36454F;
}

.profile-cards {
    width: 400px;
    height: 100px;
    margin: 20px;
    color: white;
    background-color: transparent;
    border-radius: 30px;
    border-style: solid;
    border-color: #359EB4;
}

.single-profile-cards {
    width: 30%;
    height: 20%;
    justify-content: center;
    border-radius: 30px;
    border-style: solid;
    border-color: #359EB4;
    color: white;
    background-color: transparent;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #36454F;
}

.profile-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.user-parts, .user-cars {
    padding: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: #36454F;

    h4 {
        color: white;
    }
}