@charset 'utf-8';

@import 'cars';
@import 'parts';
@import 'profiles';
@import 'navbar';
@import 'login';
@import 'register';

html, body {
    margin: 0;
    background-color: #36454F;
    overflow-x: hidden;
}
